# Ignorar entorno virtual
env/
venv/

# Ignorar archivos de caché y compilación de Python
*.pyc
__pycache__/

# Ignorar archivos de configuración del sistema
.DS_Store
*.log

# Ignorar archivos de configuración de IDE (si es aplicable)
.vscode/
.idea/

#Ignorar recursos de documentación e información
Recursos/

#Ignorar archivos de tipo zip
*.zip

#Ignorar archivos específicos
Wake_Words/LICENSE.txt

#Ignorar archivos temporales para el ASR
ASR/Online/Temp

#Ignorar archivos del modelo LLM
LLM/Local

#Ingorar Add-ons del modelo LLM
LLM/Add-on

.Secret

#Ignorar archivos de producción
build
dist

#Ignorar archivos del Modelo TTS
TTS

#Ignorar archivos del Wake Words
Wake_Words
